# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Node (if ever added)
node_modules/
package-lock.json

# Temp
.tmp/
*.zip
